// Custom theme colors
$blue:    #011B1C; 
$orange:  #BB7703;
$green:   #207759;
$cyan:    #AAC7D0 ;
$light:   #AAC7D0;
$dark:    #33454F;

// theme-color-variables
$primary: $blue;
$secondary: $green;
$warning: $orange;
$info: $cyan;
$light:     $light;
$dark:      $dark;


// theme-colors-map
$theme-colors: (
  "primary":    $primary,
  "secondary":  $secondary,
  "info":       $info,
  "warning":    $warning,
  "light":      $light,
  "dark":       $dark
) ;


//Background color
$body-bg:                   $primary ;
$input-focus-bg:            $primary ;

//Links
$link-color:                $primary ;
$link-decoration:           none ;



//Borders
$border-color:                $secondary ;

$component-active-color:      $light ;
$component-active-bg:         $primary ;


#alt-1-filter-button:hover, #alt-2-filter-button:hover, #alt-3-filter-button:hover, #alt-4-filter-button:hover {
  background-color: #197958;
}


