.logo-img {
    width: 150px; 
    max-width: 100%;
    height: auto;
  }
  


// Custom styles
@import 'color-theme';
@import 'text';


// Bootstrap main file
@import '../../node_modules/bootstrap/scss/bootstrap';

